<div id="main_content_container">
</div>
<div id="side_nav_container" class="nav_container">
	<ul id="side_nav_list">
		<% @projs.each do |project| %>
			<li>
				<%= link_to project.name, '#', :class => 'nav_a' %>
			</li>
		<% end %>
	</ul>
</div>