<div id="main_content_container">
	<a href="#">
		<div class="thumb_container" id="first_thumb_container">
			<img class="thumb" src="../layout_images/blp_test_photo_1_th3.jpg" alt="blp_test_photo_1" width="152" height="113">
		</div>
	</a>
	<a href="#">
		<div class="thumb_container">
			<img class="thumb" src="../layout_images/blp_test_photo_1_th3.jpg" alt="blp_test_photo_1" width="152" height="113">
		</div>
	</a>
	<a href="#">
		<div class="thumb_container" id="last_thumb_container">
			<img class="thumb" src="../layout_images/blp_test_photo_1_th3.jpg" alt="blp_test_photo_1" width="152" height="113">
		</div>
	</a>
</div>
<%= render :partial => 'shared/side_nav', :locals => { :projs => @proj.project_type.full_projects, :current_proj_id => @proj.id } %>